<%- include('admin/head') %> 
    <div id="app">
        <%- include('admin/sidebar') %> 
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Dashboard</h3>
            </div>
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon " style="  background-color: #dbae33;">
                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Transaksi</h6>
                                                <h6 class="font-extrabold mb-0"><%= countTran %> </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon "  style="  background-color: #dbae33;">
                                                    <i class="iconly-boldAdd-User"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Pelangan</h6>
                                                <h6 class="font-extrabold mb-0"><%= countUser %> </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body px-3 py-4-5">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="stats-icon " style="  background-color: #dbae33;">
                                                    <i class="iconly-boldBookmark"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h6 class="text-muted font-semibold">Produk</h6>
                                                <h6 class="font-extrabold mb-0"><%= CountProduct %> </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Daftar Transaksi Terbaru</h4>
                                    </div>
                                    <div class="card-body">
                                        <table class=" table table-striped ">
                                            <thead>

                                                <tr>
                                                 <td>Pelanggan</td>
                                                 <td>Nama Produk</td>
                                                 <td>Jumlah</td>
                                                 <td>Harga</td>
                                                </tr>
                                            </thead>
                                            <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
                                            <tbody>
                                                <tr>
                                                    <td><%= data[i].name %> </td>
                                                    <td><%= data[i].nama_product %> </td>
                                                    <td><%= data[i].jumlah %> </td>
                                                    <%   var  bilangan = data[i].harga_product ;
                                                        if (bilangan.toString() != null) {     
                                                            var	number_string = bilangan.toString(),
                                                                sisa 	= number_string.length % 3,
                                                                total   = number_string.substr(0, sisa),
                                                                ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
                                                                    
                                                            if (ribuan) {
                                                                separator = sisa ? '.' : '';
                                                                total += separator + ribuan.join('.');
                                                        } 
                                                        }else{
                                                            var	number_string = bilangan.toString(),
                                                                sisa 	= number_string.length % 3,
                                                                total   = number_string.substr(0, sisa),
                                                                ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
                                                                    
                                                            if (ribuan) {
                                                                separator = sisa ? '.' : '';
                                                          }      total += separator + ribuan.join('.');
                                                        }
                                                    %>
                                                    <td>Rp <%= total %> </td>
                                            </tbody>
                                            <% } } %>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                    <div class="col-12 col-lg-3">
                        <div class="card">
                            <div class="card-body py-4 px-5">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl">
                                        <img src="/assets/images/faces/1.jpg" alt="Face 1">
                                    </div>
                                    <div class="ms-3 name">
                                       <a href="/logout"> <h5 class="font-bold"><%= user.name %> </h5></a>
                                        <h6 class="text-muted mb-0"><%= email %> </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>Daftar Pelanggan Terbaru</h4>
                            </div>
                            <div class="card-content pb-4">
                                <% if(dataUsers.length){ for(var i = 0; i< dataUsers.length; i++) {%>  
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="avatar avatar-lg">
                                        <img src="/assets/images/faces/4.jpg">
                                    </div>
                                    <div class="name ms-4">
                                        <h5 class="mb-1"><%= dataUsers[i].name %> </h5>
                                        <h6 class="text-muted mb-0"><%= dataUsers[i].email %> </h6>
                                    </div>
                                </div>
                                <% } } %> 
                                <div class="px-4">
                                    <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>
                                        Kelola Pelanggan</button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card">
                            <div class="card-header">
                                <h4>Visitors Profile</h4>
                            </div>
                            <div class="card-body">
                                <div id="chart-visitors-profile"></div>
                            </div>
                        </div> -->
                    </div>
                </section>
            </div>

           <%- include('admin/footer') %> 