  <%- include('partials/head') %> 
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <div class="hero__item set-bg" data-setbg="/assets-users/img/hero/banner.png" style="width: 135%; margin-left: -35%;"> 
                        <div class="hero__text">
                            <span>PADEPOKAN SEAMEO STORE</span>
                            <h2 style="color: white;">Lebih Hemat 70%    </h2>
                            <p style="color: white; ">Gratis ongkir untuk daerah bandung</p>
                            <a href="/contact" class="primary-btn">KONTAK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/images/<%= data[i].img %> " style="border-radius: 5px;">
                            <h5><a href="#"><%= data[i].kategori %> </a></h5>
                        </div>
                    </div>
                    <% } } %> 
                    <!--  -->
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section Begin -->
   
    <!-- <img src=" " alt="sdasd" srcset=""> -->
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Menu</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".makanan">Makanan</li>
                            <li data-filter=".minuman">Minuman</li>
                            <li data-filter=".minuman">Snack</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
            <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
                
                <div class="col-lg-3 col-md-4 col-sm-6 mix  <%= data[i].kategori %> ">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/images/<%= data[i].img %> " style="border-radius: 5px;">
                            <ul class="featured__item__pic__hover">
                                <li><a href="" data-toggle="modal" data-target="#exampleModal" onclick="getID('<%= data[i].id %>')"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#" ><%= data[i].nama_product %></a></h6>
                            <%   
                            var bilangan = data[i].harga_product; 
                                if (bilangan === null){
                                    bilangan = 0         
                                        var	number_string = bilangan.toString(),
                                            sisa 	= number_string.length % 3,
                                            total   = number_string.substr(0, sisa),
                                            ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
                                                
                                        if (ribuan) {
                                            separator = sisa ? '.' : '';
                                            total += separator + ribuan.join('.');
                                     
                                    }
                                }else{
                                    bilangan =  data[i].harga_product;        
                                        var	number_string = bilangan.toString(),
                                            sisa 	= number_string.length % 3,
                                            total   = number_string.substr(0, sisa),
                                            ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
                                                
                                        if (ribuan) {
                                            separator = sisa ? '.' : '';
                                            total += separator + ribuan.join('.');
                                     
                                    }
                                }
                            
                        %>  
                            <h5>Rp.<%= total %> </h5>
                        </div>
                    </div>
                </div>
                
                <% } } %>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
    <!-- Footer Section Begin -->
<%- include('partials/footer') %> 