<%- include('admin/head') %> 
    <div id="app">
       <%- include('admin/sidebar') %> 
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Product</h3>
                            <p class="text-subtitle text-muted">Daftar makanan dan minuman</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Product</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <% if(msg == 1) {%> 
                            <div class="alert alert-success alert-dismissible show fade">
                                Product Berhasil Hapus
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            <% } %>
                        <div class="card-header">
                           <a href="/from"><button class="btn btn" style="background-color: #dbae33; color: white; font-weight: bold;">Tambah Product</button></a>
                        </div>
                        <!-- modal content -->
                          <!--Basic Modal -->
                          <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
                          aria-labelledby="myModalLabel1" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-scrollable" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="myModalLabel1">Foto dan Deskripsi Product </h5>
                                      <button type="button" class="close rounded-pill"
                                          data-bs-dismiss="modal" aria-label="Close">
                                          <i data-feather="x"></i>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                  <img id="image_product"  src="" alt="" srcset="" width="60%" style="margin-left: 15%;"> <br>   
                                 <br>
                                <div class="col-md-8 form-group" style="margin-left: 15%;">
                                    <textarea class="form-control" id="description" rows="3" name="description" disabled></textarea>
                                </div>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn ml-1"
                                          data-bs-dismiss="modal" style="background-color: #dbae33; color: white; ">
                                          <i class="bx bx-check d-block d-sm-none"></i>
                                          <span class="d-none d-sm-block">Accept</span>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                        <!-- end -->
                        <div class="card-body" >
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama Product</th>
                                        <th>Harga</th>
                                        <th>Kategori</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% var no = 1; %> 
                                    <% if(data.length){ for(var i = 0; i< data.length; i++) {%> 
                                    <tr>
                                        <td><%= no %></td>
                                        <td><%= data[i].nama_product %> </td>
                                        <td><%= data[i].harga_product %> </td>
                                        <td><%= data[i].kategori %> </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger"><i onclick="deleted('<%=  data[i].id %>')" class="fa-solid fa-trash"></i></button>
                                            <button type="button" class="btn btn-outline-warning"  data-bs-toggle="modal"
                                            data-bs-target="#default"><i class="fa-solid fa-eye" onclick="detail('<%=  data[i].id %>')"></i></button>
                                            </i><a href="/product/form/update/<%=  data[i].id %> %> " class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></a>
                                        </td>
                                    </tr>
                                    <% no++; %> 
                                    <% } }else{ %>
                                        <tr>
                                            <td>Tidak ada data</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                          </tr>
                                    <% } %>
                             </table>
                        </div>
                    </div>
                </section>
            </div>
            <!-- modal -->
          
 <%- include('admin/footer') %> 