<%- include('admin/head') %>
<div id="app">
    <%- include('admin/sidebar') %>
    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Transaksi</h3>
                        <p class="text-subtitle text-muted">Daftar  transaksi Custumer</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Transaksi</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section class="section">
                <div class="card">
                    <% if(msg == 1) {%> 
                        <div class="alert alert-success alert-dismissible show fade">
                            Transaksi Berhasil di Tambahkan
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                        </div>
                        <% } %>
                        <% if(msg == 2) {%> 
                            <div class="alert alert-success alert-dismissible show fade">
                                Transaksi Berhasil di Hapus
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            <% } %>
                            <% if(msg == 3) {%> 
                                <div class="alert alert-success alert-dismissible show fade">
                                    Silahkan cek di riwayat transaksi untuk melihat transaksi berhasil
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                <% } %>
                    <div class="card-header">
                        <button class="btn btn" data-bs-toggle="modal" data-bs-target="#default"
                            style="background-color: #dbae33; color: white; font-weight: bold;">Tambah
                            Transaksi</button>
                            <a href="/transaction/histori" class="btn btn-primary" style="font-weight: bold;">Riwayat Transaksi</a>
                    </div>
                    <!-- modal -->
                    <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel1">Tambah Transaksi</h5>
                                    <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/transaction/admin/add" method="post">
                                        <div class="mb-3">
                                            <label for="nama_pelangan" class="form-label">Nama Pelangan</label>
                                            <select class="form-select" aria-label="Default select example"
                                                name="nama_pelangan">
                                                <% if(users.length){ for(var i = 0; i< users.length; i++) {%>
                                                <option value="<%= users[i].id %> "><%= users[i].name %> </option>
                                                <% } } %>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="nama_product" class="form-label">Nama Produk</label>
                                            <select class="form-select" aria-label="Default select example"
                                                name="nama_produk">
                                                <% if(product.length){ for(var i = 0; i< product.length; i++) {%>
                                                    <option value="<%= product[i].id %> "><%= product[i].nama_product %> </option>
                                                    <% } } %>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="jumlah_produk" class="form-label">Jumlah Produk</label>
                                            <input type="text" class="form-control" id="jumlah_produk"
                                                placeholder="Jumlah Produk" name="jumlah_produk">
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn ml-1"
                                        style="background-color: #dbae33; color: white; ">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Tambah</span>
                                    </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal -->
                    <div class="card-body">
                        <table class="table table-striped" id="table1">
                            <thead>
                                <tr>
                                    <th>Custumer</th>
                                    <th>Product</th>
                                    <th>Jumlah</th>
                                    <th>Pirce</th>
                                    <th>Total Harga</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var no = 1; %>
                                <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
                                <tr>
                                    <td><%= data[i].name %> </td>
                                    <td><%= data[i].nama_product %> </td>
                                    <td><%= data[i].jumlah %> </td>
                                    <%   var  bilangan = data[i].harga_product ;
                                        if (bilangan.toString() != null) {     
                                            var	number_string = bilangan.toString(),
                                                sisa 	= number_string.length % 3,
                                                total   = number_string.substr(0, sisa),
                                                ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
                                                    
                                            if (ribuan) {
                                                separator = sisa ? '.' : '';
                                                total += separator + ribuan.join('.');
                                        } 
                                        }else{
                                            var	number_string = bilangan.toString(),
                                                sisa 	= number_string.length % 3,
                                                total   = number_string.substr(0, sisa),
                                                ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
                                                    
                                            if (ribuan) {
                                                separator = sisa ? '.' : '';
                                          }      total += separator + ribuan.join('.');
                                        }
                                    %>
                                    <td>Rp <%= total %> </td>
                                    <%   var  bilangan = data[i].harga_product * data[i].jumlah ;
                                        if (bilangan.toString() != null) {     
                                            var	number_string = bilangan.toString(),
                                                sisa 	= number_string.length % 3,
                                                total   = number_string.substr(0, sisa),
                                                ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
                                                    
                                            if (ribuan) {
                                                separator = sisa ? '.' : '';
                                                total += separator + ribuan.join('.');
                                        } 
                                        }else{
                                            var	number_string = bilangan.toString(),
                                                sisa 	= number_string.length % 3,
                                                total   = number_string.substr(0, sisa),
                                                ribuan 	= number_string.substr(sisa).match(/\d{3}/g);
                                                    
                                            if (ribuan) {
                                                separator = sisa ? '.' : '';
                                          }      total += separator + ribuan.join('.');
                                        }
                                    %>
                                    <td>Rp<%= total %> </td>
                                    <td>
                                    <% if(data[i].status_making == 0){ %>
                                        <span class="text-warning">Proses</span>
                                        <% }else{ %>
                                        <span class="text-success">Selesai</span>
                                        <% } %>
                                    </td>
                                    <td>
                                       <button type="button" class="btn btn-outline-warning" onclick="status('<%= data[i].id %>')"><i class="fa-solid fa-check"></i></button>
                                    </td>
                                </tr>
                                <% } } %>
                        </table>
                    </div>
                </div>

            </section>
        </div>
        <%- include('admin/footer') %>